html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
    background: #fbfbfb;
    min-width: 320px;
    overflow-x: hidden;
}

body{

}

a {
    text-decoration: none;
    color: inherit;
}

.call-form{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    position: absolute;
    display: none;
}

.header {
    height: 768px;
    position: relative;
}

.header__bg-image {
    background-image: url("img/Ellipse1.png");
    background-repeat: no-repeat;
    background-position: right bottom;

    position: relative;

}

.header__bg-photo {
    position: relative;
}

.container__header {
    position: relative;
}

.header__photo {
    position: absolute;
    bottom: 0;
    right: -2%;
    height: 650px;

}

.header__photo-me {
    width: 425px;
    height: 100%;
}


h2 {
    font-size: 54px;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 1250px;
    padding: 0 40px;
    margin: 0 auto;
}

.tel-link {
    font-size: 25px;
}

.tel-button {
    border: 1px solid #f82370;
    color: #f53f4f;
    background: none;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
}

.header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu__btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 32px;
    margin-top: 37px;
}

.bar {
    height: 5px;
    width: 45px;
}

.bar:nth-child(1) {
    background-image: linear-gradient(22deg, #ff508b, #ff2f96)
}

.bar:nth-child(2) {
    background-image: linear-gradient(22deg, #ff7c6e, #ff4c8c)
}

.bar:nth-child(3) {
    background-image: linear-gradient(22deg, #ff8f5a, #ff7a70)
}

.menu__btn--active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu__btn--active .bar:nth-child(2) {
    opacity: 0;
}

.menu__btn--active .bar:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
    background-image: linear-gradient(22deg, #ff508b, #ff2f96);
}

.menu__btn--active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu__btn--active span:nth-child(2) {
    opacity: 0;
}

.menu__btn--active span:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
    background-image: linear-gradient(22deg, #ff508b, #ff2f96);
}

.menu__list {
    padding: 45px 0 0 0;
    margin: 0;
    display: flex;
    gap: 0 32px;
}

.menu__item {
    list-style-type: none;
}

.menu__link--active {
    color: #fc557c;
    border-bottom: 1px solid #fc557c;
}

.header__decoration {
    background-image: linear-gradient(160deg, #fa118f 40%, #f3603a 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: absolute;
}

.header__decoration-braces {
    background-image: linear-gradient(160deg, #fa118f 65%, #f3603a 80%);
    font-size: 50px;
    transform: rotate(25deg);
    left: 123px;
    top: 132px;
}

.header__decoration-lattice {
    font-size: 57px;
    left: 245px;
    top: 370px;
    transform: rotate(20deg);
}

.header__decoration-firstDiv {
    font-size: 30px;
    transform: rotate(345deg);
    left: 788px;
    top: 162px;
    background-image: linear-gradient(#fa118f 50%, #f3603a 80%);
}

.header__decoration-secondDiv {
    font-size: 38px;

    left: 952px;
    top: 532px;
    transform: rotate(20deg);
}

.header__decoration-firstTrait {
    font-size: 41px;
    background-image: linear-gradient(#fa118f 30%, #f3603a 80%);
    left: 376px;
    top: 667px;
    transform: rotate(340deg);
}

.header__decoration-secondTrait {
    display: none;
}

.header__tel {
    display: flex;
    flex-wrap: nowrap;
}

.header__tel-link {
    font-weight: bold;
}

.header__tel-number {
    margin: 37px 29px 0 auto;
}

.header__tel-button {
    padding: 13px 43px;
    margin-top: 30px;
}

.tel-button:hover {
    background-color: rgba(255, 0, 106, 0.65);
    color: #fbfbfb;
    transition: 0.3s;
}

.header__content {
    display: flex;
    height: 692px;
}

.header__content-inner {
    align-self: flex-end;
}

.header__content-name {
    font-size: 80px;
    font-weight: 900;
    margin: 0 0 14px 0;
}

.header__content-description {
    font-size: 25px;
    color: #8993ad;
    height: auto;
}

.button {
    color: white;
    background: #ff4e2e;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: 270px;
    height: 60px;
    padding: 0;
}

.button:hover {
    transition: 0.5s;
    background: rgba(255, 37, 0, 0.93);
}

.header__content-button {
    margin-top: 50px;
    margin-bottom: 247px;
}

.about {
    background-color: white;
}

.about__title {
    padding: 100px 0;
}

.about__item-text {
    font-size: 20px;
    line-height: 30px;
    color: #8993ad;
    margin-top: 25px;
    text-align: center;
}

.about__items {
    display: flex;
    justify-content: space-between;
}

.about__item {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.about__item-img {
    margin: 0 auto;
}

.main__button {
    width: 270px;
    margin: 0 auto;
    padding: 100px 0;
}

.work__items {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 0 20px;
    width: 1170px;
    overflow: hidden;
}

.work__item {
    position: relative;
    right: 0;
    transition: all ease 0.5s;
}

.work__title {
    padding: 110px 0;
}

.work__item-text {
    font-size: 20px;
    font-weight: 500;
    color: #8993ad;
    text-align: center;
    margin-top: 30px;
}

.work__item-img {
    width: 370px;
    height: 290px;
}

.items-button {
    position: relative;
}

.work__button {
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    cursor: pointer;
}

.work__button-prev {
    top: -220px;
    left: -2%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    z-index: 1;
    display: none;
}

.work__button-next {
    transform: rotate(180deg);
    right: 0;
    top: -220px;
    filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.3));
}

.promotion {
    background-image: linear-gradient(13deg, #ff8f5a 34%, #ff2f96 74%);
}

.promotion__inner {
    display: flex;
    flex-direction: column;
    margin-left: 115px;
}

.promotion__text {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    color: #ffffff;
    max-width: 944px;
    margin: 90px 0 50px 0;
}

.promotion__description {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    max-width: 800px;
    margin-bottom: 87px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
    margin-bottom: 80px;
}

.menu__list-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 9px 0 0 0;
    gap: 20px 0;
}

.menu__link-footer {
    color: #8993ad;
    font-size: 18px;
}


.footer__contact {
    margin: 9px 20px 0 90px;
}

.footer__tel {
    background-image: url("img/call-answer.gif");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 38px;
    margin-bottom: 40px;
}

.footer__tel-link {
    font-weight: 400;
}

.footer__mail {
    background-image: url("img/mail.gif");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 45px;
    font-size: 25px;
}

.footer__tel-button {
    padding: 16px 60px;
    margin-bottom: 35px;
}

.footer__items {
    display: flex;
    justify-content: center;
    gap: 0 30px;
}

.footer__bottom-inner {
    text-align: center;
    padding: 32px 0;
}

.footer__bottom {
    background-color: #31293c;

}

.footer__bottom-text {
    color: #ffffff;
    margin: 0;
}

/* ADAPTIVE */
.menu__mobile {
    position: fixed;
    background-color: rgba(251, 251, 251, 0.95);
    width: 100%;
    height: 200px;
    z-index: 10;
    margin-top: 100px;
    border-top: 1px solid grey;
    animation: slide-down 0.5s forwards;
    display: none;
}

@keyframes slide-down {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.item-points {
    width: 120px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 100px;
    display: none;
}

.item-point {
    background: #ebebeb;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.3s;
}

.item-point--active {
    background: #ff4e2e;
}

.main__content-inner {
    display: none;
}

.img-button {
    border: 1px solid transparent;
    border-radius: 80px;
    background: linear-gradient(#f26535, #fa0e93);
    box-shadow: inset 0 0 0 100vw #fff;
    height: 26px;
    width: 26px;
    cursor: pointer;
    padding: 0;
    margin-top: 26px;

}

.header__img-button {
    display: none;
}

@media (max-width: 1730px) {
    .header__decoration-lattice {
        top: 636px;
    }

    .header__decoration-firstTrait {
        left: 556px;
        top: 581px;
    }
}

@media (max-width: 1420px) {
    .header__bg-image {
        background-position: right -200px bottom;
    }
}

@media (max-width: 1240px) {
    .work__button-next {
        right: -3%;
    }

}

@media (max-width: 1200px) {


    .work__button-next {
        visibility: hidden;
    }

    .work__button-prev {
        visibility: hidden;
    }

    .work__items {
        max-width: 980px;
        gap: 0 40px;
        margin: 0 auto;
    }

    .work__item {
        right: 0;
    }

    .work__item-img {
        width: 455px;
        height: 357px;
    }

    .item-points {
        display: flex;
    }

    .container__work {
        padding: 0 20px;
    }

}

@media (max-width: 1130px) {
    .header__bg-image {
        background-position: right -300px bottom;
    }
}

@media (max-width: 1024px) {
    .menu__list {
        display: none;
    }

    .menu__btn {
        display: flex;

    }

    .header__bg-image {
        background-image: url("img/Ellipse1024.png");
        background-position: right bottom;
    }

    .header__photo {
        right: 2%;
    }

    .header__content-name {
        font-size: 54px;
        margin-bottom: 19px;
    }

    .about__items {
        flex-flow: row wrap;
        gap: 55px 124px;
        justify-content: center;
    }

    .promotion__inner {
        margin: 0;
    }

    .header__decoration-firstTrait {
        left: 356px;
    }

    .header__decoration-lattice {
        left: 55px;
    }

    .header__decoration-secondDiv {
        display: none;
    }

    .header__decoration-firstDiv {
        top: 145px;
        left: auto;
        right: 66px;
    }

    .header__decoration-braces {
        top: 153px;
        left: 70px;
    }

    .header__decoration-secondTrait {
        display: block;
        font-size: 46px;
        left: 420px;
        top: 232px;
        transform: rotate(15deg);
    }

    .menu__list-adaptive {
        position: absolute;
        gap: 0;
        top: 190px;
        padding: 0 100px;
        z-index: 12;
        width: 100%;
        justify-content: space-between;
        left: 0;

    }

    .menu__link:hover {
        color: #fc557c;
    }

    .menu__link--active {
        color: black;
    }

    .menu__item {
        list-style-type: none;
        font-size: 18px;
        font-weight: 700;
    }
}

@media (max-width: 950px) {
    .footer__contact {
        margin-left: 20px;
    }

    .header__content-description {
        width: 400px;
    }

    .header__photo {
        right: 0;
    }
}

@media (max-width: 830px) {
    .header__content-inner {
        display: none;
    }

    .header__bg-image {
        background-position: 0 100px;
        background-size: cover;
    }

    .main__content-inner {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .main__content-name {
        color: #1f1f24;
        font-size: 54px;
        font-weight: 900;
        margin: 0;
    }

    .main__content-description {
        color: #8993ad;
        font-size: 25px;
        width: 340px;
        text-align: center;
    }

    .main__content-button {
        margin-top: 27px;
    }

    .container {
        padding: 0 20px;
    }

    .header__photo {
        right: 3%;
    }

    .item-points {
        display: none;
    }

    .work__items {
        overflow-x: scroll;
        padding-right: 200px;
    }

    .work__items::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 800px) {

    .about__title {
        padding: 80px 0;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__social-media {
        display: flex;
        flex-direction: column;
    }

    .footer__items {
        justify-content: flex-start;
    }

    .footer__contact {
        margin: 50px 0 25px 0;
    }

    .footer__tel-button {
        margin-bottom: 50px;
    }

    .footer__top {
        width: 450px;
        margin-right: auto;
        margin-left: auto;
    }

    .menu__list-footer {
        margin: 0;
    }

    .footer__items {
        margin-left: 75px;
    }

    .work__items {
        padding-right: 250px;
    }
}

@media (max-width: 600px) {
    .header__tel-button {
        display: none;
    }

    .header__img-button {
        display: block;
    }

    .menu__btn {
        width: 24px;
        height: 18px;
        margin-top: 30px;
    }

    .menu__btn span {
        width: 24px;
        height: 3px;
    }

    .header__tel-link {
        font-size: 18px;
    }

    .header__tel-number {
        margin: 30px 0 0 0;
    }

    .header__tel {
        max-width: 700px;
    }

    .about__title {
        padding: 50px 0;
    }

    .about__item-text {
        margin-top: 19px;
    }

    .header__photo {
        bottom: -24px;
    }

    .work__items {
        padding-right: 450px;
    }

    .work__item-img {
        width: 300px;
        height: 280px;
    }

    .menu__btn--active .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .menu__btn--active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .menu__mobile{
        margin-top: 80px;
        height: 175px;
    }
    .menu__list-adaptive{
        top: 155px;
        padding: 0 50px;
    }

}

@media (max-width: 480px) {
    .menu__item {
        font-size: 15px;
    }

    .footer__tel-link {
        font-size: 20px;
        color: #8993ad;
        font-weight: 500;
    }

    .footer__mail {
        font-size: 20px;
        color: #8993ad;
        font-weight: 500;
    }

    .promotion__text {
        font-size: 28px;
        line-height: 40px;
        margin: 50px 0;
    }

    .promotion__description {
        margin-bottom: 50px;
        font-size: 16px;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .about__item {
        width: 220px;
    }

    .about__item-text {
        font-size: 16px;
        line-height: 24px;
    }

    .button {
        font-size: 16px;
    }

    .main__content-name {
        font-size: 30px;
    }

    .main__content-description {
        font-size: 16px;
        line-height: 24px;
        width: 220px;
    }

    .header__photo {
        width: 320px;
        height: 375px;
        bottom: 276px;
        right: -3px;
    }

    .header__photo-me {
        object-fit: cover;
        object-position: center top;
        width: 320px;
        height: 375px;
    }

    .header {
        height: 468px;
    }

    .work__items {
        padding-right: 550px;
        gap: 0 25px;
    }

    .work__title {
        padding: 50px 0 43px 0;
    }

    .header__decoration-braces {
        font-size: 25px;
        left: 45px;
        top: 100px;
    }

    .header__decoration-lattice {
        font-size: 29px;
        left: 75px;
        top: 210px;
    }

    .header__decoration-firstTrait {
        font-size: 19px;
        top: 65px;
        left: 225px;
    }

    .header__decoration-firstDiv {
        font-size: 15px;
        transform: rotate(15deg);
        top: 95px;
        right: 45px;
    }

    .header__decoration-secondTrait {
        display: none;
    }
    .menu__list-adaptive{
        flex-direction: column;
        padding: 0;
        gap: 20px 0;
        top: 104px;
        justify-content: center;
        align-items: center;
    }
    .menu__item{
        font-size: 18px;
    }
    .menu__mobile{
        margin-top: 69px;
    }
}

@media (max-width: 370px) {
    .footer__mail {
        padding-left: 30px;
        font-size: 17px;
    }

    .work__items {
        padding-right: 675px;
    }

    .header__decoration-braces {
        left: 45px;
        top: 100px;
    }

    .header__decoration-lattice {
        left: 35px;
        top: 210px;
    }

    .header__decoration-firstTrait {
        top: 65px;
        left: 135px;
    }

    .header__decoration-firstDiv {
        transform: rotate(15deg);
        top: 95px;
        right: 45px;
    }
}

@media (max-width: 330px) {
    .work__items {
        padding-right: 695px;
    }
}







